<section class="bg-gray-50 dark:bg-gray-900">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
        >
          Sign in to your account
        </h1>
        <form (submit)="onSubmit(form)" #form>
          <label>
            Email :
            <input
              [class]="{ invalid: !mail.checkValidity() }"
              type="email"
              name="email"
              [(ngModel)]="credentials.email"
              required
              #mail
            />
            @if (!mail.checkValidity()) {
            <p>Email invalide</p>
            }
          </label>
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >
            Password :
            <input
              [class.invalid]="!pass.checkValidity()"
              type="password"
              name="pass"
              [(ngModel)]="credentials.password"
              required
              minlength="6"
              #pass
            />
            @if (!pass.checkValidity()) {
            <p>Mot de passe invalide</p>
            }
          </label>
          <div class="flex items-center justify-between">
            <input
              [disabled]="!form.checkValidity()"
              type="submit"
              value="Se Connecter"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
