<div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
  <!-- Heading & Filters -->
  <div
    class="mb-4 items-end justify-between space-y-4 sm:flex sm:space-y-0 md:mb-8"
  >
    <div>
      <nav class="flex">
        <ol
          class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
        >
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Login</a>
          </li>
          <li>
            <a href="#">Register</a>
          </li>
          <li>
            <a href="#">Article Editor</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
